<div class="animated fadeIn">
    <button type="button" class="btn btn-primary mr-1 mb-4 float-right" data-toggle="modal" [routerLink]="['/product-detail']" *ngIf="checkUpdatePermission('POST')">
      <i class="fa fa-plus fa-lg mt-1"></i> Add Product
    </button>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>No</th>
      <th>Name</th>
      <th>Image</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of productData;let i = index">
      <td>{{(pageNumber - 1) * pageSize + i + 1}}</td>
      <td>{{data.name}}</td>
      <td><img width="300px" height="300px" :src="http://localhost:3000/api/files/get/{{data.path}}" /></td>
      <td>
        <i *ngIf="checkUpdatePermission('PUT')" class=" fa fa-lg mt-2 fa-edit icon-action" ></i>
      </td>
    </tr>
    </tbody>
  </table>
  <app-pagination [totalPages]="totalPages" (selectPage)="init($event)"></app-pagination>

</div>
